{
  "openapi": "3.0.0",
  "info": {
    "title": "Citadel API",
    "description": "The command and control interface for Vinr Vanguard agents.",
    "version": "1.0.0",
    "contact": {
      "name": "Vinr support team",
      "email": "technology@vinr.eu"
    }
  },
  "servers": [
    {
      "url": "https://citadel.vinr.ai/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/github/access-token": {
      "get": {
        "tags": [
          "GitHub"
        ],
        "summary": "Retrieve a GitHub access token",
        "responses": {
          "200": {
            "description": "Successfully retrieved GitHub access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGitHubAccessTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/node/{id}/get-config": {
      "get": {
        "tags": [
          "Node"
        ],
        "summary": "Get node configuration with service deployments",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique ID of the node",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the merged configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNodeConfigResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/node/{id}/ping": {
      "get": {
        "tags": [
          "Node"
        ],
        "summary": "Send ping for the current node",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique ID of the node sending the ping",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful connectivity check",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNodePingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Vanguard agents must provide a valid API key."
      }
    },
    "schemas": {
      "GetGitHubAccessTokenResponse": {
        "type": "object",
        "required": [
          "accessToken"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "The GitHub access token"
          }
        }
      },
      "GetNodeConfigResponse": {
        "type": "object",
        "required": [
          "type",
          "serviceDeployments"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/NodeType"
          },
          "serviceDeployments": {
            "type": "array",
            "description": "A list of all services assigned to this node with their final overridden configurations.",
            "items": {
              "$ref": "#/components/schemas/ServiceDeployment"
            }
          }
        }
      },
      "NodeType": {
        "type": "string",
        "enum": [
          "leader",
          "soldier",
          "vanguard"
        ],
        "example": "vanguard"
      },
      "ServiceDeployment": {
        "type": "object",
        "required": [
          "kind",
          "defVersion",
          "name",
          "runtime",
          "gitUrl",
          "port",
          "branch"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "example": "Service"
          },
          "defVersion": {
            "type": "string",
            "example": "v1"
          },
          "name": {
            "type": "string",
            "example": "spring-boot-app"
          },
          "branch": {
            "type": "string",
            "description": "The git branch derived from environment overrides.",
            "example": "main"
          },
          "runtime": {
            "type": "object",
            "required": [
              "engine",
              "version"
            ],
            "properties": {
              "engine": {
                "type": "string",
                "example": "openjdk"
              },
              "version": {
                "type": "string",
                "example": "25.0.2"
              }
            }
          },
          "gitUrl": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/richy-vinr/spring-boot-app"
          },
          "port": {
            "type": "integer",
            "description": "The final overridden port number.",
            "example": 8080
          },
          "ingressHost": {
            "type": "string",
            "description": "Optional host mapping from environment overrides.",
            "example": "spring-boot.vinr.ai"
          },
          "runScript": {
            "type": "string",
            "example": "java -jar build/libs/spring-boot-app-0.0.1-SNAPSHOT.jar"
          },
          "variables": {
            "type": "array",
            "description": "Final list of environment variables including secrets.",
            "items": {
              "$ref": "#/components/schemas/EnvironmentVariable"
            }
          }
        }
      },
      "EnvironmentVariable": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "SPRING_MONGODB_URI"
          },
          "value": {
            "type": "string",
            "description": "Literal string value."
          },
          "ref": {
            "type": "string",
            "description": "Reference to an external secret store path.",
            "example": "aws/secrets/local/spring-boot-app/mongo-db-url"
          }
        }
      },
      "GetNodePingResponse": {
        "type": "object",
        "required": [
          "status",
          "timestamp"
        ],
        "properties": {
          "status": {
            "type": "string",
            "example": "ok",
            "description": "The current health status of Citadel"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The server time when the ping was processed"
          },
          "version": {
            "type": "string",
            "example": "v1.0.0",
            "description": "The running version of the Citadel control plane"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "example": 401
          },
          "message": {
            "type": "string",
            "example": "Invalid enrollment key provided"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
