{
  "openapi": "3.0.0",
  "info": {
    "title": "Citadel API",
    "description": "The command and control interface for Vinr Vanguard agents.",
    "version": "1.0.0",
    "contact": {
      "name": "Vinr support team",
      "email": "technology@vinr.eu"
    }
  },
  "servers": [
    {
      "url": "https://citadel.vinr.ai/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/aws/secrets/{id}": {
      "get": {
        "tags": [
          "AWS"
        ],
        "summary": "Retrieve an AWS Secret",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ARN or name of the secret",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAwsSecretResponse"
                }
              }
            }
          },
          "404": {
            "description": "Secret not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/github/access-token": {
      "get": {
        "tags": [
          "GitHub"
        ],
        "summary": "Retrieve a GitHub access token",
        "responses": {
          "200": {
            "description": "Successfully retrieved GitHub access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGitHubAccessTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ping": {
      "get": {
        "summary": "Check Citadel connectivity",
        "responses": {
          "200": {
            "description": "Successful connectivity check",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Vanguard agents must provide a valid API key."
      }
    },
    "schemas": {
      "GetGitHubAccessTokenResponse": {
        "type": "object",
        "required": [
          "accessToken"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "The GitHub access token"
          }
        }
      },
      "GetAwsSecretResponse": {
        "type": "object",
        "properties": {
          "plainText": {
            "type": "string",
            "description": "Populated if it's a raw string"
          },
          "entries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PingResponse": {
        "type": "object",
        "required": [
          "status",
          "timestamp"
        ],
        "properties": {
          "status": {
            "type": "string",
            "example": "ok",
            "description": "The current health status of Citadel"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The server time when the ping was processed"
          },
          "version": {
            "type": "string",
            "example": "v1.0.0",
            "description": "The running version of the Citadel control plane"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "example": 401
          },
          "message": {
            "type": "string",
            "example": "Invalid enrollment key provided"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
